<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group Members</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>

  <body class="bg-gray-100 flex min-h-screen">
    <!-- Side bar -->
    <section class="p-4 flex-col h-full fixed bg-white border-gray-300 w-64">
      <nav class="w-full h-full">
        <img src="CompanyLogo.svg" alt="logo" class="w-40" />
        <div class="flex-col gap-4 py-4">
          <a
            href="/"
            class="inline-block w-full bg-gray-100 text-gray-700 hover:text-gray-900 hover:bg-gray-200 py-2 px-4 rounded-lg transition duration-150 ease-in-out"
          >
            Home
          </a>
          <a
            href="/all"
            class="inline-block w-full text-gray-700 hover:text-gray-900 hover:bg-gray-100 py-2 px-4 rounded-lg transition duration-150 ease-in-out"
          >
            All Users
          </a>
        </div>
        <a
          href="/add"
          class="inline-block w-full bg-gray-900 text-white py-2 px-4 rounded-lg hover:bg-gray-800 transition duration-150 ease-in-out"
        >
          Add User
        </a>
      </nav>
    </section>

    <!-- right side -->
    <section class="flex-col w-full ml-64">
      <header class="flex-col gap-[16px] p-8">
        <h1 class="text-3xl font-bold text-gray-900">Dashboard</h1>
        <p class="text-gray-700">
          Here’s an overview of your site traffic and recently active users.
        </p>
      </header>

      <!-- display cards -->
      <section class="flex-col gap-[16] p-8 min-h-screen">
        <div class="flex place-content-between">
          <h2 class="text-xl font-bold">Users</h2>
          <a
            href="/add"
            class="py-2 px-4 bg-gray-900 text-white font-semibold rounded-md transform transition-transform hover:bg-gray-800"
          >
            Add User
          </a>
        </div>

        <!-- User Table -->
        <div class="grid grid-cols-3 gap-6 my-auto py-8">
          <!-- user card -->
          <div
            class="bg-white rounded-2xl shadow-xs p-4 border-1 border-gray-100"
          >
            <div class="w-full h-16">
              <img
                src="cozmin_background.png"
                alt="Member's Photo"
                class="w-full h-24 rounded-lg object-cover z-0"
              />
            </div>
            <div class="w-24 z-10 mb-4">
              <img
                src="cozmin.png"
                alt="Member's Photo"
                class="border-4 border-white shadow-lg w-24 h-24 rounded-full object-cover z-10"
              />
            </div>
            <div class="flex-col py-2 px-2">
              <h2 class="text-xl font-semibold text-gray-900 mb-2">
                REBEJA Cozmin
              </h2>
              <h4 class="text-m font-semibold text-gray-700 mb-2">
                Student ID: 24/1/0855/030
              </h4>
            </div>
          </div>
          <div
            class="bg-white rounded-2xl shadow-xs p-4 border-1 border-gray-100"
          >
            <div class="w-full h-16">
              <img
                src="david_background.png"
                alt="Member's Photo"
                class="w-full h-24 rounded-lg object-cover z-0"
              />
            </div>
            <div class="w-24 z-10 mb-4">
              <img
                src="david.png"
                alt="Member's Photo"
                class="border-4 border-white shadow-lg w-24 h-24 rounded-full object-cover z-10"
              />
            </div>
            <div class="flex-col py-2 px-2">
              <h2 class="text-xl font-semibold text-gray-900 mb-2">
                SCHULTZ David Stefan
              </h2>
              <h4 class="text-m font-semibold text-gray-700 mb-2">
                Student ID: 24/1/0855/032
              </h4>
            </div>
          </div>
          <div
            class="bg-white rounded-2xl shadow-xs p-4 border-1 border-gray-100"
          >
            <div class="w-full h-16">
              <img
                src="alex_background.png"
                alt="Member's Photo"
                class="w-full h-24 rounded-lg object-cover z-0"
              />
            </div>
            <div class="w-24 z-10 mb-4">
              <img
                src="alex.png"
                alt="Member's Photo"
                class="border-4 border-white shadow-lg w-24 h-24 rounded-full object-cover z-10"
              />
            </div>
            <div class="flex-col py-2 px-2">
              <h2 class="text-xl font-semibold text-gray-900 mb-2">
                NEAMTU Alexandru-Nicolae
              </h2>
              <h4 class="text-m font-semibold text-gray-700 mb-2">
                Student ID: 24/1/0855/057
              </h4>
            </div>
          </div>
          <div
            class="bg-white rounded-2xl shadow-xs p-4 border-1 border-gray-100"
          >
            <div class="w-full h-16">
              <img
                src="stefan_background.png"
                alt="Member's Photo"
                class="w-full h-24 rounded-lg object-cover z-0"
              />
            </div>
            <div class="w-24 z-10 mb-4">
              <img
                src="stefan.png"
                alt="Member's Photo"
                class="border-4 border-white shadow-lg w-24 h-24 rounded-full object-cover z-10"
              />
            </div>
            <div class="flex-col py-2 px-2">
              <h2 class="text-xl font-semibold text-gray-900 mb-2">
                MISCU Stefan
              </h2>
              <h4 class="text-m font-semibold text-gray-700 mb-2">
                Student ID: 24/1/0855/046
              </h4>
            </div>
          </div>
          <div
            class="bg-white rounded-2xl shadow-xs p-4 border-1 border-gray-100"
          >
            <div class="w-full h-16">
              <img
                src="raman_background.png"
                alt="Member's Photo"
                class="w-full h-24 rounded-lg object-cover z-0"
              />
            </div>
            <div class="w-24 z-10 mb-4">
              <img
                src="raman.png"
                alt="Member's Photo"
                class="border-4 border-white shadow-lg w-24 h-24 rounded-full object-cover z-10"
              />
            </div>
            <div class="flex-col py-2 px-2">
              <h2 class="text-xl font-semibold text-gray-900 mb-2">
                SABAU Raman
              </h2>
              <h4 class="text-m font-semibold text-gray-700 mb-2">
                Student ID: 24/1/0855/031
              </h4>
            </div>
          </div>
        </div>
      </section>
      <footer class="bg-gray-300 text-white p-4 text-gray-700">
        <div class="container mx-auto">
          <p class="text-sm">
            &copy; <%= new Date().getFullYear() %> WebTechnology All rights
            reserved.
          </p>
          <p class="text-sm mt-2">
            Group Members: Cozmin, David, Alex, Stefan, Raman etc.
          </p>
        </div>
      </footer>
    </section>
  </body>
</html>
